{{ define "main" }}
  <section class="section">
    <div class="container">
      {{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
      <div class="columns is-centered">
        <div class="column is-half">
          <h3 class="title">{{ humanize $lastUrlElement }}</h3>
        </div>
      </div>
      {{ range .Site.RegularPages }}
        {{ if in .Params.tags $lastUrlElement }}
        <div class="columns is-centered">
          <div class="column is-half">
            {{ partial "box.html" . }}
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}