{{ define "main" }}.
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title">{{ humanize .Page.Title }}</h3>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column">
        {{ range $index, $page := .Pages }}
          {{ if eq (mod $index 4) 0 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := .Pages }}
          {{ if eq (mod $index 4) 1 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := .Pages }}
          {{ if eq (mod $index 4) 2 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := .Pages }}
          {{ if eq (mod $index 4) 3 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}